<!DOCTYPE html>
<html>
<head>
  <title>Instapic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <li><%= link_to 'お知らせ', "#" %></li>
  <li><%= link_to '投稿一覧', pictures_path, class: 'btn btn-default' %></li>
  <% if user_signed_in? %>
    <li><%= link_to 'マイページ', edit_user_registration_path %></li>
    <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% else %>
    <li><%= link_to 'ログイン', new_user_session_path  %></li>
    <li><%= link_to '新規会員登録', new_user_registration_path %></li>
  <% end %>
</header>



<footer>
</footer>
</body>
</html>
